.control-icon {
  &.tokenlightcondition-indicator {
    --tokenlightcondition-bright: rgb(255 215 0);
    --tokenlightcondition-dark: rgb(102 102 102);
    --tokenlightcondition-dim: rgb(192 192 192);

    i {
      pointer-events: none;
    }

    &.bright {
      color: var(--tokenlightcondition-bright);
    }

    &.dim {
      color: var(--tokenlightcondition-dim);
    }

    &.dark {
      color: var(--tokenlightcondition-dark);
    }
  }
}
